<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cells.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cells.Properties.Settings>
            <setting name="WorldWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorldHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SensoryViewSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MinAltitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxAltitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InitialPopulationPerTeam" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxNumberOfCells" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="CellMaxInitialLife" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CostOfCellDivision" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpawnLifeThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberOfTeams" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PixelSize" serializeAs="String">
                <value>5</value>
            </setting>
        </Cells.Properties.Settings>
    </userSettings>
</configuration>